<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Se connecter</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nom d'utilisateur">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Mot de passe">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Se connecter</button>
      <p>Vous n'avez pas encore un compte? <a href="/register">S'inscrire</a></p>
    </form>
  </mat-card>

</div>