<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Se connecter</mat-card-title>
    </mat-card-header>
    <p></p>
    <p></p>
    <div class="error_message" id="error_div"><p>{{error_login}}</p></div>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="username" matInput placeholder="Nom d'utilisateur">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input formControlName="password" type="password" matInput placeholder="Mot de passe">
        </mat-form-field>
      </mat-card-content>
      <button type="submit" mat-stroked-button color="accent" class="btn-block">Se connecter</button>
      <p class="switch_log_sign">Vous n'avez pas encore un compte? <a href="/register">S'inscrire</a></p>
      <div style="width: 50px; height: 50px;">
        <mat-spinner></mat-spinner>
      </div>
    </form>
  </mat-card>
  
    
  <div id="loader">
    <div class="lv-circles sm lvl-5" data-label="Connexion..."> </div>
  </div>